In [3]:
import numpy as np

In [6]:
import pandas as pd

In [13]:
import matplotlib.pyplot as plt

In [18]:
import seaborn as sns

In [34]:
data = pd.read_csv('second_dataset.csv')

In [36]:
data

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,NaN,Male,Blouse,Clothing,NaN,Kentucky,L,Gray,Winter,NaN,yep,Credit Card,Express,Indeed,y,14,Venmo,Fortnightly
1,2,NaN,Male,Sweater,Clothing,NaN,Maine,L,Maroon,Winter,NaN,Yes,Bank Transfer,Express,Yes,Yo,2,Cash,Fortnightly
2,3,NaN,Male,Jeans,Clothing,NaN,Massachusetts,S,Maroon,Spring,NaN,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,NaN,Male,Sandals,Footwear,90.0,Rhode Island,M,Maroon,Spring,NaN,Yes,PayPal,Next Day Air,Indeed,Yo,49,PayPal,Weekly
4,5,NaN,Male,Blouse,Clothing,NaN,Oregon,M,Turquoise,Spring,NaN,Yo,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40.0,Female,Hoodie,Clothing,28.0,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,Nah,32,Venmo,Weekly
3896,3897,52.0,Female,Backpack,Accessories,49.0,Iowa,L,White,Spring,4.5,ille,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46.0,Female,Belt,Accessories,33.0,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,n,No,24,Venmo,Quarterly
3898,3899,44.0,Female,Shoes,Footwear,77.0,Minnesota,S,Brown,Summer,3.8,N,PayPal,Express,Nakko,No,24,Venmo,Weekly
3899,3900,52.0,Female,Handbag,Accessories,NaN,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,Nope,33,Venmo,Quarterly

In [38]:
data.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,NaN,Male,Blouse,Clothing,NaN,Kentucky,L,Gray,Winter,NaN,yep,Credit Card,Express,Indeed,y,14,Venmo,Fortnightly
1,2,NaN,Male,Sweater,Clothing,NaN,Maine,L,Maroon,Winter,NaN,Yes,Bank Transfer,Express,Yes,Yo,2,Cash,Fortnightly
2,3,NaN,Male,Jeans,Clothing,NaN,Massachusetts,S,Maroon,Spring,NaN,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,NaN,Male,Sandals,Footwear,90.0,Rhode Island,M,Maroon,Spring,NaN,Yes,PayPal,Next Day Air,Indeed,Yo,49,PayPal,Weekly
4,5,NaN,Male,Blouse,Clothing,NaN,Oregon,M,Turquoise,Spring,NaN,Yo,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

In [40]:
data.shape

(3900, 19)

In [46]:
data.dtypes

Customer ID                   int64
Age                         float64
Gender                       object
Item Purchased               object
Category                     object
Purchase Amount (USD)       float64
Location                     object
Size                         object
Color                        object
Season                       object
Review Rating               float64
Subscription Status          object
Payment Method               object
Shipping Type                object
Discount Applied             object
Promo Code Used              object
Previous Purchases            int64
Preferred Payment Method     object
Frequency of Purchases       object
dtype: object

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3269 non-null   float64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3285 non-null   float64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3246 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(3), int64(2), object(14)
memory usage: 579.0+ KB

In [53]:
data.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3269.000000,3285.000000,3246.000000,3900.000000
mean,1950.500000,43.973998,59.863014,3.744239,25.351538
std,1125.977353,15.216359,23.673623,0.719448,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.750000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [56]:
data.isnull().sum()

Customer ID                   0
Age                         631
Gender                        0
Item Purchased                0
Category                      0
Purchase Amount (USD)       615
Location                      0
Size                          0
Color                         0
Season                        0
Review Rating               654
Subscription Status           0
Payment Method                0
Shipping Type                 0
Discount Applied              0
Promo Code Used               0
Previous Purchases            0
Preferred Payment Method      0
Frequency of Purchases        0
dtype: int64

In [61]:
data.dropna()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
87,88,52.0,Male,Shoes,Footwear,53.0,Ohio,M,Green,Fall,3.7,Yes,Debit Card,2-Day Shipping,Yes,Yes,44,Debit Card,Fortnightly
109,110,58.0,Male,T-shirt,Clothing,85.0,Alabama,M,Violet,Spring,2.6,Haan,Cash,Next Day Air,Yes,Yes,43,Bank Transfer,Fortnightly
115,116,53.0,Male,Skirt,Clothing,94.0,Wyoming,M,Gray,Spring,3.8,Haan,Cash,Standard,Yes,Yes,48,Debit Card,Every 3 Months
131,132,28.0,Male,Skirt,Clothing,29.0,Maine,L,Indigo,Summer,3.9,Yes,PayPal,Standard,Yes,Haan,46,Credit Card,Weekly
180,181,51.0,Male,Sandals,Footwear,81.0,South Dakota,L,Green,Fall,3.3,Yes,Cash,Store Pickup,Yes,Yes,12,Debit Card,Fortnightly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3894,3895,66.0,Female,Skirt,Clothing,78.0,Connecticut,L,White,Spring,3.9,n,Cash,2-Day Shipping,No,Naaji,44,Credit Card,Every 3 Months
3895,3896,40.0,Female,Hoodie,Clothing,28.0,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,Nah,32,Venmo,Weekly
3896,3897,52.0,Female,Backpack,Accessories,49.0,Iowa,L,White,Spring,4.5,ille,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46.0,Female,Belt,Accessories,33.0,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,n,No,24,Venmo,Quarterly
3898,3899,44.0,Female,Shoes,Footwear,77.0,Minnesota,S,Brown,Summer,3.8,N,PayPal,Express,Nakko,No,24,Venmo,Weekly

In [72]:
data.dropna(axis=1)

,Customer ID,Gender,Item Purchased,Category,Location,Size,Color,Season,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,Male,Blouse,Clothing,Kentucky,L,Gray,Winter,yep,Credit Card,Express,Indeed,y,14,Venmo,Fortnightly
1,2,Male,Sweater,Clothing,Maine,L,Maroon,Winter,Yes,Bank Transfer,Express,Yes,Yo,2,Cash,Fortnightly
2,3,Male,Jeans,Clothing,Massachusetts,S,Maroon,Spring,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,Male,Sandals,Footwear,Rhode Island,M,Maroon,Spring,Yes,PayPal,Next Day Air,Indeed,Yo,49,PayPal,Weekly
4,5,Male,Blouse,Clothing,Oregon,M,Turquoise,Spring,Yo,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,Female,Hoodie,Clothing,Virginia,L,Turquoise,Summer,No,Cash,2-Day Shipping,No,Nah,32,Venmo,Weekly
3896,3897,Female,Backpack,Accessories,Iowa,L,White,Spring,ille,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,Female,Belt,Accessories,New Jersey,L,Green,Spring,No,Credit Card,Standard,n,No,24,Venmo,Quarterly
3898,3899,Female,Shoes,Footwear,Minnesota,S,Brown,Summer,N,PayPal,Express,Nakko,No,24,Venmo,Weekly
3899,3900,Female,Handbag,Accessories,California,M,Beige,Spring,No,Bank Transfer,Store Pickup,No,Nope,33,Venmo,Quarterly

In [74]:
data.dropna(how = 'all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,NaN,Male,Blouse,Clothing,NaN,Kentucky,L,Gray,Winter,NaN,yep,Credit Card,Express,Indeed,y,14,Venmo,Fortnightly
1,2,NaN,Male,Sweater,Clothing,NaN,Maine,L,Maroon,Winter,NaN,Yes,Bank Transfer,Express,Yes,Yo,2,Cash,Fortnightly
2,3,NaN,Male,Jeans,Clothing,NaN,Massachusetts,S,Maroon,Spring,NaN,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,NaN,Male,Sandals,Footwear,90.0,Rhode Island,M,Maroon,Spring,NaN,Yes,PayPal,Next Day Air,Indeed,Yo,49,PayPal,Weekly
4,5,NaN,Male,Blouse,Clothing,NaN,Oregon,M,Turquoise,Spring,NaN,Yo,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40.0,Female,Hoodie,Clothing,28.0,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,Nah,32,Venmo,Weekly
3896,3897,52.0,Female,Backpack,Accessories,49.0,Iowa,L,White,Spring,4.5,ille,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46.0,Female,Belt,Accessories,33.0,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,n,No,24,Venmo,Quarterly
3898,3899,44.0,Female,Shoes,Footwear,77.0,Minnesota,S,Brown,Summer,3.8,N,PayPal,Express,Nakko,No,24,Venmo,Weekly
3899,3900,52.0,Female,Handbag,Accessories,NaN,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,Nope,33,Venmo,Quarterly

In [78]:
# works same as data.dropna

In [76]:
data.dropna(how = 'any')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
87,88,52.0,Male,Shoes,Footwear,53.0,Ohio,M,Green,Fall,3.7,Yes,Debit Card,2-Day Shipping,Yes,Yes,44,Debit Card,Fortnightly
109,110,58.0,Male,T-shirt,Clothing,85.0,Alabama,M,Violet,Spring,2.6,Haan,Cash,Next Day Air,Yes,Yes,43,Bank Transfer,Fortnightly
115,116,53.0,Male,Skirt,Clothing,94.0,Wyoming,M,Gray,Spring,3.8,Haan,Cash,Standard,Yes,Yes,48,Debit Card,Every 3 Months
131,132,28.0,Male,Skirt,Clothing,29.0,Maine,L,Indigo,Summer,3.9,Yes,PayPal,Standard,Yes,Haan,46,Credit Card,Weekly
180,181,51.0,Male,Sandals,Footwear,81.0,South Dakota,L,Green,Fall,3.3,Yes,Cash,Store Pickup,Yes,Yes,12,Debit Card,Fortnightly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3894,3895,66.0,Female,Skirt,Clothing,78.0,Connecticut,L,White,Spring,3.9,n,Cash,2-Day Shipping,No,Naaji,44,Credit Card,Every 3 Months
3895,3896,40.0,Female,Hoodie,Clothing,28.0,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,Nah,32,Venmo,Weekly
3896,3897,52.0,Female,Backpack,Accessories,49.0,Iowa,L,White,Spring,4.5,ille,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46.0,Female,Belt,Accessories,33.0,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,n,No,24,Venmo,Quarterly
3898,3899,44.0,Female,Shoes,Footwear,77.0,Minnesota,S,Brown,Summer,3.8,N,PayPal,Express,Nakko,No,24,Venmo,Weekly

In [88]:
data.dropna(thresh=17)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
3,4,NaN,Male,Sandals,Footwear,90.0,Rhode Island,M,Maroon,Spring,NaN,Yes,PayPal,Next Day Air,Indeed,Yo,49,PayPal,Weekly
5,6,NaN,Male,Sneakers,Footwear,NaN,Wyoming,M,White,Summer,2.9,Yes,Venmo,Standard,Yes,Haanji,14,Venmo,Weekly
6,7,NaN,Male,Shirt,Clothing,NaN,Montana,M,Gray,Fall,3.2,Of course,Debit Card,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,NaN,Male,Shorts,Clothing,NaN,Louisiana,L,Charcoal,Winter,3.2,Yes,Debit Card,Free Shipping,Yes,Yes,19,Credit Card,Weekly
9,10,57.0,Male,Handbag,Accessories,31.0,Missouri,M,Pink,Spring,NaN,Yes,PayPal,2-Day Shipping,Yes,Yes,4,Cash,Quarterly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40.0,Female,Hoodie,Clothing,28.0,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,Nah,32,Venmo,Weekly
3896,3897,52.0,Female,Backpack,Accessories,49.0,Iowa,L,White,Spring,4.5,ille,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46.0,Female,Belt,Accessories,33.0,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,n,No,24,Venmo,Quarterly
3898,3899,44.0,Female,Shoes,Footwear,77.0,Minnesota,S,Brown,Summer,3.8,N,PayPal,Express,Nakko,No,24,Venmo,Weekly
3899,3900,52.0,Female,Handbag,Accessories,NaN,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,Nope,33,Venmo,Quarterly

In [68]:
data['Customer ID']

0          1
1          2
2          3
3          4
4          5
        ...
3895    3896
3896    3897
3897    3898
3898    3899
3899    3900
Name: Customer ID, Length: 3900, dtype: int64

In [70]:
data['Customer ID'].unique()

array([   1,    2,    3, ..., 3898, 3899, 3900])

In [92]:
data['Age']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
3895    40.0
3896    52.0
3897    46.0
3898    44.0
3899    52.0
Name: Age, Length: 3900, dtype: float64

In [94]:
data['Age'].isnull()

0        True
1        True
2        True
3        True
4        True
        ...
3895    False
3896    False
3897    False
3898    False
3899    False
Name: Age, Length: 3900, dtype: bool

In [108]:
data['Age'].fillna('not recorded', inplace=True)

In [110]:
data

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,not recorded,Male,Blouse,Clothing,NaN,Kentucky,L,Gray,Winter,NaN,yep,Credit Card,Express,Indeed,y,14,Venmo,Fortnightly
1,2,not recorded,Male,Sweater,Clothing,NaN,Maine,L,Maroon,Winter,NaN,Yes,Bank Transfer,Express,Yes,Yo,2,Cash,Fortnightly
2,3,not recorded,Male,Jeans,Clothing,NaN,Massachusetts,S,Maroon,Spring,NaN,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,not recorded,Male,Sandals,Footwear,90.0,Rhode Island,M,Maroon,Spring,NaN,Yes,PayPal,Next Day Air,Indeed,Yo,49,PayPal,Weekly
4,5,not recorded,Male,Blouse,Clothing,NaN,Oregon,M,Turquoise,Spring,NaN,Yo,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40.0,Female,Hoodie,Clothing,28.0,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,Nah,32,Venmo,Weekly
3896,3897,52.0,Female,Backpack,Accessories,49.0,Iowa,L,White,Spring,4.5,ille,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46.0,Female,Belt,Accessories,33.0,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,n,No,24,Venmo,Quarterly
3898,3899,44.0,Female,Shoes,Footwear,77.0,Minnesota,S,Brown,Summer,3.8,N,PayPal,Express,Nakko,No,24,Venmo,Weekly
3899,3900,52.0,Female,Handbag,Accessories,NaN,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,Nope,33,Venmo,Quarterly

In [118]:
data['Purchase Amount (USD)'].fillna('not recorded', inplace=True)

In [134]:
data[['Customer ID', 'Purchase Amount (USD)']]

      Customer ID Purchase Amount (USD)
0               1          not recorded
1               2          not recorded
2               3          not recorded
3               4                  90.0
4               5          not recorded
...           ...                   ...
3895         3896                  28.0
3896         3897                  49.0
3897         3898                  33.0
3898         3899                  77.0
3899         3900          not recorded

[3900 rows x 2 columns]

In [128]:
data['Review Rating'].fillna('not rated', inplace=True)

In [132]:
data[['Customer ID', 'Review Rating']]

      Customer ID Review Rating
0               1     not rated
1               2     not rated
2               3     not rated
3               4     not rated
4               5     not rated
...           ...           ...
3895         3896           4.2
3896         3897           4.5
3897         3898           2.9
3898         3899           3.8
3899         3900           3.1

[3900 rows x 2 columns]